.container {

    width: 100%;
    max-width: 1366px;
    margin: auto;
}

body {
    background: url(./image/Фон\ .png)no-repeat center center fixed;
background-size: cover;
}

.menu-list {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    display: flex;
    align-items: center;
}

.menu-item-1 {
    color: white;
    text-transform: uppercase;
    margin: 0 800px 0 70px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

}

.menu-item-1:hover {
    color: #01813F;
    cursor: pointer;
}

.menu-item-2 {
    align-items: flex-end;

    width: 40px;
}

.img:hover {
    background-color: #01813F;
}

.menu-item-3 {

    width: 40px;
}

.menu-item-4 {

    width: 40px;
}

.menu-item-5 {
    margin: auto;
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;

}

.color:hover {
    color: green;
    cursor: pointer;

}

.menu-item-5::before {
    content: "";
    position: absolute;
    margin: auto -20px;

    width: 2px;
    height: 24px;
    background: rgb(255 255 255 / 90%);
}

.entry-menu {

    background-color: white;
    width: 444px;
    height: 635px;
    margin: 55px auto;
}

.entry-menu-item {
    display: flex;
    justify-content: space-around;
}

.entry-menu-item-1 {
    position: absolute;
    width: 3vh;
    height: 3vh;
    top: 17vh;
    left: 61vh;
    background: #3CB878;
    color: #3CB878;


}

.entry-menu-item-2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    margin: 30px 0 20px;
    color: black;
}

.entry-menu-item-3 {

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    margin: auto 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #01813F;
}

.entry-menu-item-3:hover {
    text-decoration: underline;
    cursor: pointer;
}


.page-menu {
    display: flex;
    justify-content: space-around;
    margin: 0 50px;
}

.page-img {
    margin: 0 20px 0 0;
}

.page-item-1 {
    background: #305DB8;
    width: 160px;
    height: 48px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
}

.page-item-1:hover {
    background-color: #022263;
}

.page-item-2 {
    background: #DF4A32;
    width: 160px;
    height: 48px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    cursor: pointer;
}

.page-item-2:hover {
    background-color: #AB1F09;
}

.title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 100px 10px;
    color: #848484;
    border-left: 100px solid #F2F2F2;
    border-right: 100px solid #F2F2F2;
    height: 1px;
}

.name {
    width: 322px;
    height: 44.08px;
    margin: 10px 57px;

    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px
}

.last-name {
    width: 322px;
    height: 44.08px;
    margin: 10px 57px;

    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px
}

.email {
    width: 322px;
    height: 44.08px;
    margin: 10px 57px;

    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px
}

.choose-password {
    width: 322px;
    height: 44.08px;
    margin: 10px 57px;

    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px
}

.confirm-password {
    width: 322px;
    height: 44.08px;
    margin: 10px 57px;

    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}


input[type="checkbox"]+p:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #666;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}


input[type="checkbox"]:checked+p:before {
    content: "";
    display: inline-block;
    width: 9px;
    height: 12px;
    border: solid green;
    border-width: 0 3px 3px 0;
    position: absolute;
    left: 3px;
    top: 5px;
    transform: translateX(17%) translateY(-15%) rotate(53deg);
}


input[type="checkbox"]+p:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}


input[type="checkbox"]:checked+p:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}

.confirmation {
    text-align: center;
    margin: 15px;
}

.check-color {
    color: green;
}
.check-color:hover{
    cursor: pointer;
    text-decoration: underline;

}

.button {
    color: white;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    width: 359px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #01813F;
}